body {
  color: black;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
}
a {
  color: white; /*cor do link a*/
  text-decoration: none; /*tirar sublinhado*/
}
ul {
  display: flex; /*Alinhamento horizontal*/
   justify-content: space-between; /*espaçamento entre os itens*/
   list-style-type: none; /*tirar as marcações da lista*/
   align-items: center;/*alinhado verticalmente ao centro*/
   padding: 16px; /*distancia maior entre itens de cima e de baixo*/
}
.navbar {
  overflow: hidden;
  background-color: #ae012b;
  position:  fixed; /* navbar em posição fixa */
  top: -10px; /* Position the navbar at the top of the page */
  width: 100%; /* Preencher todos os lados do navbar */
  padding: -10px;
}